<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user1" class="kz.iitu.atm.models.Account">
        <property name="login" value="123456"/>
        <property name="balance" value="50000"/>
        <property name="id" value="1"/>
        <property name="pin" value="123"/>
    </bean>
    <bean id="user2" class="kz.iitu.atm.models.Account">
        <property name="login" value="654321"/>
        <property name="balance" value="50000"/>
        <property name="id" value="2"/>
        <property name="pin" value="321"/>
    </bean>
    <bean id="bankServiceBean" class="kz.iitu.atm.service.BankServiceForBean" init-method="init" destroy-method="destroy">
        <property name="url" value="jdbc:postgresql://localhost:5433/bankService"></property>
        <property name="password" value="romankin"></property>
        <property name="user" value="romankin"></property>
    </bean>
    <bean id="bank" class="kz.iitu.atm.models.Bank">
        <property name="users">
            <list>
                <ref bean="user1"/>
                <ref bean="user2"/>
            </list>
        </property>
        <property name="id" value="1"/>
        <property name="name" value="KASPI"/>
    </bean>
</beans>
